<div class="element-bg-img">
  <img [src]="selectedCityImage" alt="" class="img-responsive" />
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <ng-container *ngFor="let city of cityInfoService.getCities(); last as isLast">
        <li [class.anc-bor]="isLast">
          <a (click)="cityInfoService.selectCity(city.id)">{{ city.name }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <app-about-info [cityInfo]="cityInfoService.getSelectedCity()"> </app-about-info>
</div>
